[user]
	signingkey = F8AC4625B9FA3451C87F620DEF527BD39924885B!
	email = sietze@s15h.nl
	name = Sietze van den Bergh
[pull]
	rebase = true
[commit]
	gpgsign = true
[fetch]
	prune = true
[init]
	defaultBranch = main
[branch]
	sort = -committerdate
[log]
	date = iso
[push]
	autoSetupRemote = true
[rerere]
	enabled = true
	autoUpdate = true
[includeIf "gitdir/i:~/project/dignitas/"]
	path = ~/project/dignitas/.gitconfig
[core]
	autocrlf = input
[color]
	ui = auto
